.onHover:hover {
    background-color: #F3F2F1;
    cursor: pointer;
}

.attachment-div {
    width: 36px; 
    height: 36px; 
    font-size: 20px; 
    color: #DE3D41; 
    border: 1px solid #f3f2f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment-stack:hover {
    background-color: #f3f2f1;    
}

.attachment-more {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.attachment-name {
    text-decoration: none;
    color: #333333
}

.attachment-name:hover{
    text-decoration: underline;
    color: #333333
}