@import '~@fluentui/react/dist/sass/References.scss';

.qboTasks {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.customerTitleName{
  margin-left: 11px;
  margin-top: 5px;
  padding: 4px 6px;
  font-weight: 700;
  background: #3d95d9;
  border-radius: 4px;
  font-size: 22px;
  color: white;
}

.customerTitleStatus{
  margin-left: 11px;
  margin-top: 5px;
  padding: 4px 6px;
  font-weight: 700;
  background: gainsboro;
  border-radius: 4px;
  font-size: 12px;
}

// .sticky{
//   position: -webkit-sticky;
//   position: sticky;
//   top: -12px;
//   z-index: 99999;
// }

// .stickyShadow{
//   position: -webkit-sticky;
//   position: sticky;
//   height: 50px;
//   width: 100%;
//   top: -15px;
//   z-index: 99;
//   box-shadow: 0px 7px 8px -4px rgba(32, 33, 36, 0.28);
// }

.sticky {
  // height: 80px;  /* 64 + 16px */
  position: sticky;
  -webkit-position: sticky;
  /* negative top allows for 16 pixels of movement before sticking */
  top: -10px; 
  /* make sure header overlaps main*/
  z-index: 99999;
}

/* PSEUDO ELEMENTS to create drop-shadow */
.sticky::before,
.sticky::after {
  content: '';
  display: block;
  height: 10px;
  /* make pseudo elements sticky as well */
  position: sticky;
  -webkit-position: sticky;
}

/* SHADOW */
.sticky::before {
  top: 66px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

/* COVER */
.sticky::after {
  /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
  background: linear-gradient(white 10%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.4) 70%, transparent);
  top: 0;
  /* cover should fall over shadow */
  z-index: 100000;
  backface-visibility: hidden;
}

/* HEADER CONTENT */
.sticky > .stickyShadow {
  background: white;
  height: 80px;
  padding: 0;
  position: sticky;
  -webkit-position: sticky;
  top: -14px;
  /* compensate for shadow with negative margin */
  margin-top: -24px;
  /* content should fall over shadow and cover */
  z-index: 100001;
}