@import '~@fluentui/react/dist/sass/References.scss';

.qboKanban {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.modalColor{
  background-color: #e3e3e3;
}

.modalCardCustom{
  // min-width: 600px !important;
  cursor: unset !important;
}

.modalItemFlex{
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  justify-content: flex-start;
  padding-bottom: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  article{
    flex-basis: 29%;
    max-width: 29% !important;
    min-width: unset !important;
    margin: 4px;
  }

}

.modalItemP{
  flex-basis: 100%;
  font-weight: 600;
  margin-bottom: 6px !important;
}

@mixin remindBackground {
  display:flex;
  border-radius: 3px;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
}

.defaultRemind{
  @include remindBackground;
  background-color: #eee;
}

.urgentTask{
  @include remindBackground;
  background-color: #f6e5e9;
  color: #CF363D;
}

.urgentReminder{
  @include remindBackground;
  background-color: #e5f0f6;
  color: #182c4c;
}

