/* body {
  font-family: sans-serif;
} */

.autoCompalateInput {
  border: 1px solid #605e5c;
  padding: 0.5rem;
  /* width: 570px; */
  z-index: 999;
  padding-left: 35px;
  background-image: url("https://icon-library.com/images/magnify-icon-png/magnify-icon-png-18.jpg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: left 8px center;
  font-family: sans-serif;
}

/* .autoCompalateInput:focus,
textarea:focus,
select:focus {
  outline: none;
} */

.suggestionsFont{
  font-family: sans-serif;
}
.autoCompalateInput:focus{
  outline: none;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #605e5c;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 350px;
  overflow-y: auto;
  padding-left: 0;
  /* width: 568px; */
  position: absolute;
  z-index: 999;
  background-color: white;
}

.suggestions li {
  padding: 0.5rem;
  position: relative;
  z-index: 999;
  font-family: sans-serif;
  font-size: 14px;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #edebe9;
  color: #201f1e;
  cursor: pointer;
  /* font-weight: 700; */
}

/* .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #605e5c;
  }
   */
