

.qboConnect .container {
  max-width: 700px;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.qboConnect .row {
  margin: 0 -8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background-color: #005a9e;
  padding: 20px;
}
.qboConnect .row:after,
.qboConnect .row:before {
  display: table;
  content: "";
  line-height: 0;
}
.qboConnect .row:after {
  clear: both;
}
.qboConnect .column {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[dir="ltr"] .qboConnect .column {
  float: left;
}
[dir="rtl"] .qboConnect .column {
  float: right;
}
.qboConnect .column .ms-Grid {
  padding: 0;
}
@media (min-width: 640px) {
  .qboConnect .column {
    width: 83.33333333333334%;
  }
}
@media (min-width: 1024px) {
  .qboConnect .column {
    width: 66.66666666666666%;
  }
}
@media (min-width: 1024px) {
  [dir="ltr"] .qboConnect .column {
    left: 16.66667%;
  }
  [dir="rtl"] .qboConnect .column {
    right: 16.66667%;
  }
}
@media (min-width: 640px) {
  [dir="ltr"] .qboConnect .column {
    left: 8.33333%;
  }
  [dir="rtl"] .qboConnect .column {
    right: 8.33333%;
  }
}
.qboConnect .title {
  font-size: 21px;
  font-weight: 100;
  color: #fff;
}
.qboConnect .description,
.qboConnect .subTitle {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}
.qboConnect .button {
  text-decoration: none;
  height: 32px;
  min-width: 80px;
  background-color: #0078d4;
  border-color: #0078d4;
  color: #fff;
  outline: transparent;
  position: relative;
  font-family: Segoe UI WestEuropean, Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;
}
.qboConnect .button .label {
  font-weight: 600;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin: 0 4px;
  vertical-align: top;
  display: inline-block;
}
.qbo {
  text-align: center;
}
.qbo .qboImg {
  cursor: pointer;
  width: 300px;
}
.hide {
  display: none;
}
.notify {
  position: fixed;
  top: 200px;
  width: 300px;
  height: auto;
  border-radius: 7px;
  padding: 20px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(243, 242, 241, 0.88);
  opacity: 1;
  z-index: 9999999;
}
.notify.error {
  background-color: rgba(253, 231, 233, 0.88);
}
.notify.success {
  background-color: rgba(223, 246, 221, 0.88);
}
.notify-br {
  margin: 2px 0;
}
.notify-title {
  vertical-align: top;
  font-weight: 600;
  margin-left: 10px;
}
.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.fade-out {
  animation: fadeOut 5s ease;
  -webkit-animation: fadeOut 5s ease;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.inlineBlock {
  display: inline-block;
}
.filterDiv {
  padding: 10px 0;
  vertical-align: bottom;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s ease-in-out infinite both;
  animation: sk-circleFadeDelay 1.2s ease-in-out infinite both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  to {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  to {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}